body{
	background: url('../images6/livebands.jpg');
}

img{
	max-height: 300px;
}

form, .artistBtn{
	background-color: black;
	color: orange;
}

form{
	padding: 10px;
	margin: 20px;
	width: 200px;
}
h1{
	font-size: 15px;
	color: white;
	margin: 0 0 0 550px;
}

#newArtistInput{
	color: black;
}

.ratingStyle{
	color: orange;
	background-color: black;
}

#addArtist{
	background-color: grey;
	color: orange;
}

input{
	margin: 10px;
}

button{
	background-color: black;
	border: none;
}

#musician{
	margin: 10px;
}

.artistBtn{
	padding: 6px;
	margin: 10px;
}

#giphyLogo{
	margin: 550px;
}